/* Default styles */
.white_head {
  background-color: #fcfcfc;

}

.header_container {
  display: flex;
  flex-wrap: wrap; /* Permet de réorganiser les éléments sur petits écrans */
  justify-content: center;
  align-items: center;
  background-color: #426260;
  color: white;
}

p{
  font-weight: 200;
  text-align: center;
  letter-spacing: 3px;
  margin: 10px;
}

.name_portefolio {
  -webkit-text-stroke: 2px whitesmoke;
  color: transparent;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  display: inline;
}

.Typewriter__wrapper {
  font-weight: 400;
  font-size: calc(2.2rem + 0.6vw);
}

.Typewriter__cursor {
  font-size: 2.5rem;
}

h3 {
  font-weight: 400;
  font-size: 2.5rem;
}

.doc_container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  
}
.doc_container a{
  display: block;

  color: black;
  padding: 15px 40px;
  margin: 5px;
  border-radius: 12px;
  border: none;
  white-space: nowrap;
}
.doc_link {
  background-color: #e5af98;
  color: whitesmoke;
}
.doc_whatsapp{
  background-color: #25D366;
  color: whitesmoke;
}


.img_profil {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  padding: 40px;
  object-fit: cover;
}

.my_project {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: calc(2.125rem + 3.5vw);
  color: transparent;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.skills_container {
  position: relative;
}

.skillsTitle {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: calc(2.125rem + 3.5vw);
  color: transparent;
  font-family: Roboto, sans-serif;
  text-align: center;
}
.project_title_container {
  position: relative;
}

.my_project .minimy_project {
  text-transform: uppercase;
  color: #426260;
  line-height: 1.2;
}

.minimy_project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  margin: 0;
  color: #426260;
  font-size: 40px;
}

.skillsTitle .miniSkillsTitle {
  text-transform: uppercase;
  color: #426260;
  line-height: 1.2;
}

.miniSkillsTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  margin: 0;
  color: #426260;
}

.icons_container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 20px;
}

.footer {
  background-color: #426260;
  bottom: 0;
  position: sticky;
}



/* Media queries for responsive design */
@media only screen and (max-width: 1200px) {
  .header_container {
    height: 90vh;
  }

  .info_container {
    margin-left: 72px;
  }

  .img_profil {
    width: 300px;
    height: 300px;
    padding: 30px;
  }
}

@media only screen and (max-width: 992px) {
 
  .header_container {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  button {
    justify-content: center;
  }
}
